:root.theme-dark {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --decor-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url('../images/cover-image-dark.png');
  --accent-bg-color: #000028;
}

.theme-dark .header__decorative {
  display: block;
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--decor-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 25px;
}

.theme-dark .header__decorative::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -18px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.theme-dark .header__content-text {
  color: var(--bg-color);
}

/* Фон для текстовых блоков в темной теме */
.theme-dark .content-block__text,
.theme-dark .content-column__text,
.theme-dark .advice-block__text {
  background-color: var(--accent-bg-color);
  color: var(--text-color);
}

/* Фон для блоков с колонками */
.theme-dark .content-column__block {
  background-color: var(--accent-bg-color);
}

/* Фон для блоков с советами */
.theme-dark .advice-block {
  background-color: var(--accent-bg-color);
}

/* Стили для заголовков секций в темной теме */
.theme-dark .section__title {
  color: var(--accent-color);
}

.theme-dark .section__title--second,
.theme-dark .section__title--third {
  background-color: var(--accent-bg-color);
}

/* Стили для кнопок меню в темной теме */
.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--accent-color);
}

/* Стили для подзаголовков в блоках */
.theme-dark .content-block__subtitle,
.theme-dark .content-column__subtitle,
.theme-dark .advice-block__title,
.theme-dark .content-advice__main-title,
.theme-dark .section__title--fourth {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

/* Стили для основного заголовка */
.theme-dark .header__title-text,
.theme-dark .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Стили для рамок */
.theme-dark .header__content-text,
.theme-dark .gallery__image {
  border-color: var(--accent-color);
}

/* Стили для стрелок */
.theme-dark .header::before,
.theme-dark .header::after,
.theme-dark .footer::before,
.theme-dark .footer::after {
  border-color: var(--accent-color);
}