:root.theme-light {
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --decor-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url('../images/cover-image-light.png');
  --accent-bg-color: transparent;
}

.theme-light .header__decorative {
  display: none;
}

.theme-light .header__content-text {
  color: var(--text-color);
}

/* Фон для текстовых блоков в светлой теме */
.theme-light .content-block__text,
.theme-light .content-column__text,
.theme-light .advice-block__text {
  background-color: var(--accent-bg-color);
  color: var(--text-color);
}

/* Фон для блоков с колонками */
.theme-light .content-column__block {
  background-color: var(--accent-bg-color);
}

/* Фон для блоков с советами */
.theme-light .advice-block {
  background-color: var(--accent-bg-color);
}

/* Стили для заголовков секций в светлой теме */
.theme-light .section__title {
  color: var(--text-color);
}

.theme-light .section__title--second,
.theme-light .section__title--third {
  background-color: var(--accent-bg-color);
}

/* Стили для кнопок меню в светлой теме */
.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--text-color);
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--text-color);
}

/* Стили для подзаголовков в блоках */
.theme-light .content-block__subtitle,
.theme-light .content-column__subtitle,
.theme-light .advice-block__title,
.theme-light .content-advice__main-title,
.theme-light .section__title--fourth {
  background-color: var(--accent-color);
  color: var(--text-color);
}

/* Стили для основного заголовка */
.theme-light .header__title-text,
.theme-light .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Стили для рамок */
.theme-light .header__content-text,
.theme-light .gallery__image {
  border-color: var(--accent-color);
}

/* Стили для стрелок */
.theme-light .header::before,
.theme-light .header::after,
.theme-light .footer::before,
.theme-light .footer::after {
  border-color: var(--text-color);
}