:root {
  font-family: IBM Plex Mono, Arial, sans-serif;
}

.page {
  margin: 0;
  padding: 0 var(--gap) 0 var(--gap);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px;
  margin: 0;
  padding: 0;
  block-size: 100dvh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: solid var(--decor-color) 1px;
  border-block-start: solid var(--decor-color) 1px;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--gap);
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: solid var(--decor-color) 1px;
  border-block-end: solid var(--decor-color) 1px;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--gap);
  inset-inline-start: 0;
} 
  
.header__decor-text {
  position: absolute;
  display: var(--displayed);
  justify-self: end;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  color: var(--decor-color);
  font-size: var(--main-font-size);
  text-transform: uppercase;
  inline-size: 52px;
  block-size: 26px;
  inset-block-start: var(--gap);
  inset-inline-end: 10px;
}

.header__decor-text::after {
  content: "";
  border-radius: 50%;
   box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  position: relative;
  justify-self: end;
  align-self: center;
  inset-block-start: 13px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 10px 0 10px;
  color: var(--button-color);
  font-size: var(--main-font-size);
  letter-spacing: 1.5px;
  background: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--button-color);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: solid 1px var(--hover-btn-color);
}

.header__theme-menu-button_active {
  border: solid 1px var(--button-color);
  pointer-events: none;
}

.header__title {
  position: relative;
  align-self: center;
  margin: 0;
  padding: 0;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  inline-size: 355px;
}

.header__text {
  position: relative;
  justify-self: end;
  font-weight: 700;
  font-size: var(--main-font-size);
  block-size: max-content;
  inline-size: 100%;
  margin-top: 40px;
}

.header__text_abzac {
  margin: 0;
  padding: 0;
}

.title-decor {
  margin: 0;
  color: var(--accented-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  background-color: var(--accent-color);
}

.section {
  display: grid;
  gap: var(--double-gap);
  margin: 0;
  margin-block-end: 50px;
}

.section__title {
  grid-row: 1/3;
  margin: 0;
  color: var(--section-title-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 24px;
}

.normal-font-weight {
  font-weight: 400;
}

.section__card_content {
  margin: 0;
  margin-block-start: var(--gap);
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.text-link {
  all: unset;
  color: var(--text-color);
  text-shadow: 2px 1px 0 var(--accent-color);
  position: relative;
}

.text-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color);
}

.text-link:hover:after {
  width: 100%;
}



.text-link:focus-visible {
  outline: solid var(--text-color) 1px;
}

.gallery {
  display: grid;
  gap: var(--gap);
}

.gallery__img {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  min-height: 668px;
  margin: 0;
  padding: 0;
  block-size: 100dvh; 
  margin-bottom: 10px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* --------------------------------медиазапрос-------------------------- */
@media (768px <= width) {

  .header {
    margin-block-end: 60px;
  }

  .header__theme-menu {
  position: relative;
  justify-self: end;
  align-self: center;
  margin-top: 70px;
}

  .header__title {
  position: relative;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  inline-size: 100%;
  margin-bottom: 0;
  margin-right: var(--gap);
}

  .header__text {
  position: relative;
  inline-size: 50%;
  margin-top: 40px;
}
 
  .section {
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    margin-block-end: 80px; 
  }

  .section__title {
    grid-column: 1/2;
  }

  .section__card {
    grid-column: 2/-1;
  }

  .section__card_content {
    margin-block-start: 10px;
  }

  .accent-section__card {
    grid-column: 1/-1;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content 33fr 39fr 55fr;
    gap: var(--gap);
  }

  .gallery__img {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .gallery__title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .gallery__img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .gallery__img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery__img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery__img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
     margin-bottom: 25px;
  }
 }

/* ----------------------------медиазапрос------------------------------- */

@media (1024px <= width) {

  .header__theme-menu {
  justify-self: center;
  align-self: start;
  margin-top: var(--gap); 
}

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .header__theme-menu-item {
    padding-block-start: 2px;
    justify-self: center;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    box-sizing: border-box;
  }

  .header__title {
    inset-inline-end: var(--gap);
    inline-size: 100%;
  }

  .header__text {
    display: inline-block;
    justify-self: end;
    max-inline-size: 48vw;
     margin-top: 50px;
  }

  .section {
    column-gap: 10px;
  }

  .accent-section {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--double-gap);
    margin-block-start: 80px;
  }

  .accent-section__title {
    inline-size: 30%;
    grid-column: unset;
    grid-column: 1/-1;
    grid-row: unset;
    grid-row: 1/2;
  }

  .accent-section__card {
    grid-column: unset;
    grid-row: unset;
  } 

  .gallery {
    grid-template-rows: max-content 33fr 40fr 55fr;
    gap: var(--double-gap);
  }

  .footer {
    margin-bottom: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}